<!-- <?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- @Mapperをつけたマッパーインターフェースが存在するパッケージ(とファイル)を指定 -->
<mapper namespace="com.cyoku.practice.domain.mapper.LineUserMapper">
    <!-- id=メソッド名 resultType=マッパーインターフェースに対応する FQCN FullyQualifiedClassName パッケージ名を含む完全なクラス名 を指定する -->
    <select id="findAll" resultType="com.cyoku.practice.domain.mapper.LineUserMapper">
        SELECT id, email, fullName, carNumber, lineUserId FROM line_user
    </select>
    <select id="getLineUserById" resultType="com.cyoku.practice.domain.mapper.LineUserMapper">
        SELECT id, email, full_name, car_number, line_userId FROM line_user WHERE id = #{id}
    </select>
    <!-- <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO customer (name, age, address) VALUES (#{customer.name}, #{customer.age}, #{customer.address})
    </insert> -->
    <!-- <update id="update">
        UPDATE customer SET name = #{customer.name}, age = #{customer.age}, address = #{customer.address} WHERE id = #{customer.id}
    </update> -->
        <!-- <delete id="delete">
        DELETE FROM customer WHERE id = #{id}
    </delete> -->
    
</mapper> -->